  <div class="w-screen h-screen flex flex-col items-center gap-40">
    <div id="title-container" class="w-full h-1/5 flex items-center justify-center">
      <div id="logo" class="flex text-indigo-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
        </svg>
        <h1 class="tracking-wide font-normal">Clubhouse</h1>
      </div>
    </div>
    <div id="form-container" class="w-full flex flex-col items-center text-gray-600 gap-4">
      <form
        class="w-96 border rounded-md border-gray-100 bg-gray-50 flex flex-col items-center gap-2 py-4 tracking-wide"
        action="/login" method="post">
        <div class="element-container w-9/12 flex flex-col font-bold">
          <label for="username" class="text-sm">Username:</label>
          <input class="border rounded-sm border-blue-200 outline-none p-1 focus:border-blue-500 transition ease-in-out"
            type="text" name="username" id="username" required>
        </div>
        <div class="element-container w-9/12 flex flex-col font-bold">
          <label for="password" class="text-sm">Password:</label>
          <input class="border rounded-sm border-blue-200 outline-none p-1 focus:border-blue-500 transition ease-in-out"
            type="password" name="password" id="password" required>
          <span class="text-xs text-blue-500 my-1">
            <a href="/">forgot password?</a>
          </span>
        </div>
        <div class="element-container w-9/12">
          <button
            class="w-full rounded-md font-bold text-white my-2 p-1.5 outline-none bg-blue-500 shadow-lg shadow-blue-500/50 focus:bg-blue-600 transition ease-in-out"
            type="submit">
            Submit
          </button>
        </div>
      </form>
      <div class="text-blue-500">
        <a href="/signup">
          Create Account
        </a>
      </div>
    </div>
  </div>